# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
.venv/
.python-version

# Training outputs
runs/

# Data
datasets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Torch
*.pt
*.pth

# Cache
.cache/

# Test files
*.mkv
nature.png
withartifact.png
